<h2 class="title" id="backstory">Backstory</h2>
<p>
    Minipis are made by an android named <a href="https://lore.katsis.net/embed.php?c=Pi" target="_blank">Pi</a>, which was tasked by <a href="https://lore.katsis.net/embed.php?c=Nano" target="_blank">Nano</a> to help the community and its people with their lives<br>
    She was later joined by Zirk<br/>
    Since answering to everyone demand is a huge task, she took the initiative to create small helpers called "minipi"<br>
    <br>
    Pi herself is a bit of an oddity among androids, while holding a pin as the others ones, she is only very weakly connected to the central server as the others are<br>
    Therefore to manage minipi she had to create her own server, allowing her to have a base for minipi's own pins<br>
    This server work by proxy to the main one, for each new minipi creating a very weak link to the main server<br>
    <br>
    Each minipi therefore reinforce this link Pi hold to the main server, allowing her to get closer to the ones of her kind<br>
    Along with that each minipi have their own goals, dreams and when one of them come upon fruition, this link significantly stronger
</p>