<h2 class="title" id="gallery">Gallery</h2>
<div id="gallery-content">
    <img src="img/ZirkAndTheStars169Ratio.png" data-author="Fractal"/>
    <img src="img/minipi.png" data-author="Fractal"/>
    <img src="img/Pi.png" data-author="Fractal"/>
    <img src="img/FytJ1_dXsAAwUZ3.png" data-author="Fractal"/>
    <img src="img/FytJdpoWYAQH0VV.png" data-author="Fractal"/>
    <img src="img/FytKZhYXoAI3J00.png" data-author="Fractal"/>
    <img src="img/Gamma.jpg" data-author="Gamma"/>
</div>