<h2 class="title" id="language">Language</h2>
Minipi language for a long time have been through as random babbling, but Pi was the first to explain that during all this time it was indeed a real language<br/>
It is however only spoken, some minipi like to write but each of them have their own system which isn't standardized <br/>
<br/>
We usually romanized minipi language with a i for a short sound pi and y for a long one<br/>
Along with that there are 3 existing accents, up, down and neutral which give us the following table:<br/>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Neutral</th>
            <th>Up</th>
            <th>Down</th>
        </tr>
        <tr>
            <td>i</td>
            <td>ī</td>
            <td>í</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>y</td>
            <td>ȳ</td>
            <td>ý</td>
            <td>ỳ</td>
        </tr>
    </thead>
</table>
To facilitate reading with often add a p before the vowel as following:<br/>
<code>pípȳpý</code><br/>
<br/>
Wait in vocalization usually instill a word break<br/>
<br/>
Grammatically, sentences are done with the following structures:<br/>
verb + noun + complements + (subject)<br/>
Subject often being implied<br/>
<br/>
For example "Go fetch the water from the well" would be
<ul>
    <li><code>pìpý</code>: to go and come back with, to alert someone</li>
    <li><code>pȳpípí</code>: clean water</li>
    <li><code>pīpýpīpỳ</code>: groundwater (imply a well here)</li>
    <li><code>pīpī</code>: you</li>
</ul>
Which gives<br/>
<code>Pìpý pȳpípí pīpýpīpỳ (pīpī)</code><br/>
<br/>
It is good to know that word meaning changes depending of their location in a sentence and this pȳpípí either mean "clean water" or "to wash, to remove dirt from something"<br/>