<h2 class="title" id="minipos">Minipos</h2>
<img src="img/minipo.png" id="minipo" />
<p>
    Minipos are beings existing as opposite of minipis<br/>
    They are here to bring chaos and will do terrible things like making your socks wet or moving your furnitures a tad so you hit your little toe against them
</p>