<h2 class="title" id="rules">Rules</h2>
<p>
    Rules defined by the book of rules written by minipi #424
</p>
<h2 class="subtitle">#1</h2>
<div>
    Trash littering the floor should be put in the trashcan if no urgent task is in progress
</div>
<h2 class="subtitle">#2</h2>
<div>
    When Theta is in sight, a photo should be taken and printed to be put in the Theta box
</div>
<h2 class="subtitle">#3</h2>
<div>
    If Zirk is busy, Theta should replace him in good night kissing the minipis
</div>