<h2 class="title" id="services">Services</h2>
<h3 class="title">Delivery Service</h3>
Thank you for considering the MPDS (MiniPi Delivery Service) for your packages<br>
The <acronym title="MiniPi Delivery Service">MPDS</acronym> is a service to deliver your letters and parcels while being:
<ul>
    <li>Free: as a community service, the <acronym title="MiniPi Delivery Service">MPDS</acronym> is and will remain free for all its citizens, you are however welcome to offer money to provide funds to its infrastructures</li>
    <li>Easy to access: Just let your package at your local minipi station and a minipi will take it when coming by</li>
    <li>Accessible to anyone: Even if you can't use WCC, you can still use the <acronym title="MiniPi Delivery Service">MPDS</acronym>!</li>
</ul>

<h4 class="subtitle">How to I receive packages?</h4>
<h5 class="subtitle">Standard delivery (大Batsu only)</h5>
This is the most common type of delivery, packages will arrive at your closest minipi station and are kept there for 2 months before being sent back on the station where they were expedited from<br>
Packages are let inside, please verify the name on a parcel before taking it<br>

<h5 class="subtitle">Door to door delivery</h5>
This service allow you to directly receive your package at your doorstep, delivery are usually a bit slower that way

<h4 class="subtitle">How do I indicate the destination address?</h4>
Mini-pi are very adaptive but use a different language than you and I, for this reason delivery instruction must follow a special format<br>

<h5 class="subtitle">Standard delivery (大Batsu only)</h5>
Please refer to the map on a minipi station to identify which symbols need to be written on the package depending of the destination sector<br>

<h5 class="subtitle">Door to door delivery (大Batsu only)</h5>
Please write down the sector in which the delivery location is, followed by a photo of the house taken from the street<br>

<h5 class="subtitle">Deliveries outside 大Batsu</h5>
Packages need to be marked with the corresponding symbols, please refer to a minipi station to know what need to be written<br>
The address itself can be written in plain letters<br>
Supported destinations are Ebereus and Känue<br>
Please however note that some goods are subjected to control<br>

<h4 class="subtitle">When will my package be delivered?</h4>
Each morning, minipi go around their stations to check for new packages, however some stations are checked less often that the others, when at a station, please check the color of the <acronym title="MiniPi Delivery Service">MPDS</acronym> sticker:
<ul>
    <li>Green: This station is verified every day</li>
    <li>Yellow: This station is verified every week</li>
    <li>Red: This station is verified every months</li>
</ul>

Once recovered delivery will begin<br>
Mini-pi working only during day time, your package might be stored in another minipi station during the night<br>
<br>
Mini-pi must go through many obstacles to ensure your package is delivered, and thus sometimes your package might get lost on the way, if that happens no need to worry! A mini-pi investigation squad will be dispatched to find your package back, if for some reason it still can't be recovered, Pi herself will be dispatched

<h4 class="subtitle">How can I help?</h4>
The <acronym title="MiniPi Delivery Service">MPDS</acronym> is able to operate efficiantly thanks to people like you and helping minipi in their tasks is always welcome:<br>
- Minipi sometimes struggle to climb hills with their trolley, when that happens you are welcome to help them to push it<br>
- Minipi will sometimes come to you to attempt to locate specific locations, in that case please don't give complex instructions such as "take the 2nd turn left then right after the crosswalk" but please point them or show them the direction instead<br>

<h4 class="subtitle">Standard equipement</h4>
Mini pi are equiped with a little trolley, allowing them to push any parcel despite their size or weight

<h4 class="subtitle">History</h4>
<acronym title="MiniPi Delivery Service">MPDS</acronym> is a postal service created by Pi and managed by mini-pi #43, even through there is no fixed employee, parcel delivery is part of a minipi communitary duty

<h3 class="title">Transportation Service</h3>
The MiniPi Transportation Service (MPTS) is a railway system that connects the following destinations:
<ul>
    <li>大Batsu West</li>
    <li>大Batsu South</li>
    <li>大Batsu North</li>
    <li>大Batsu Chemicals</li>
</ul>
It is mainly used for good transportation, including <acronym title="MiniPi Delivery Service">MPDS</acronym> packages but also allow for personal transport

<h3 class="title">Asylum Service</h3>
As a resident of 大Batsu, you are eligible to the MiniPi Asylum Service (MPAS)<br>
<br>
Asylum grants you a safe place within an annexe of Pi's house which you can't be forced out of, your stay is however subjected in the respect of others and respect of properties within it<br>
<br>
To gain access to it, simply speak to a minipi and claim your asylum right, you'll then be leaded to the aforementioned place

<h3 class="title">Militia Service</h3>
The MiniPi Militia Service (MPMS) is a service established to protect 大Batsu against threats<br>
<br>
Their weapons were provided by Zirk from his home country, they carry pin-activated self-triggered magic action bolt-rifle M5