<h2 class="title" id="specifications">Technical specifications</h2>
<p>
    <small>These technical specifications are made after extensive observation and while they aim to be as accurate as possible, might contains inacurracies</small>
</p>
<p>
    A minipi is made of 2 main parts:
    <ul>
        <li>The head, which contains the captors, components for memory and decision making along with the ones that define the minipi as a being</li>
        <li>The body, which contains components for energy management and her pin</li>
    <ul>

    <h2 class="subtitle">Head</h2>
    <h3 class="subtitle">Life Core</h3>
    The life core is a component that define a minipi as a being, it acts as a blackbox and little is known about its inner working, apart from the fact that it contains mPi[OS] and that it's charged from Pi's server<br>
    As long as this component isn't damaged, a minipi can be repaired
    <h3 class="subtitle">mPi[OS]</h3>
    Contained inside the life core, mPi[OS] is what define the base of a minipi critical behaviors<br>
    The inner instructions are unknown but it contains rules so a minipi can protect herself, Pi and others minipis, along with instructions defining forbidden behaviors<br>
    <br>
    It is the primary layer of security around a minipi lifecore and is completly sealed from the outside, and only accessible to the minipi in a read-only mode, preventing any nefarious attack against it<br>
    However, since a minipi ability to judge what is good or bad is based on her reserved memory, her perception can still be altered<br>
    Once mPi[OS] detect such a violation, the minipi will enter emergency mode, disabling all her component except for her life core, battery and pin
    <h3 class="subtitle">Decision center</h3>
    Minipi decision center is a component allowing them to interact with their various others components and sensors to take decisions
    <h3 class="subtitle">Vision</h3>
    Minipi only have one eye off-centered on the left of their body, making them struggle to see things in 3 dimensions<br>
    Their vision spectrum is from 360 to 620nm
    <h3 class="subtitle">Communication</h3>
    Minipi are able to emit sounds, but are limited to the sound "pi"<br>
    Their vocalization system allow to pronounce strident /i/ sounds while opening their mouth produces a /p/ sounds, hence the /pi/ sound they produce<br/>
    They use variation of tones and durations to communicate between each other, a minipi voice being able to go from 150Hz to 1500Hz<br>
    They are able to hear from 30Hz to 40 000Hz
    <h3 class="subtitle">Clock</h3>
    Minipi have an internal clock, ticking at the same interval for all of them<br>
    It is mainly used to syncronise internal systems with each others, but minipis also can use it for various others tasks, like walking in unison
    <h3 class="subtitle">Exhaust pipe</h3>
    The minipi antenna act as an exhaust pipe, since their heat management is done with a special coolant, bubbles can sometimes be produces and released from there
    <h3 class="subtitle">Memory</h3>
    Minipi memory work in block of 1024KB, each block can be associated to a specific information<br>
    For this reason, minipi are usually better at keeping track of only a few different subjects<br>
    <h4 class="subtitle">Text blocks</h4>
    Text blocks are chunk of memory optimized to store basic information, they are optimized for very fast access
    <h4 class="subtitle">Image blocks</h4>
    Image blocks are chunk of memory optimized to store images, information there is usually highly compressed, asking for a minipi more time to access it
    <h4 class="subtitle">Links blocks</h4>
    Links are a small chunk of memory linking various blocks of image/text memory together
    <h4 class="subtitle">Decisional blocks</h4>
    Decisional blocks are a special kind of blocks only used by volatile memory<br>
    They store information about what the minipi is currently experiencing, working as a system of double buffering, allowing a minipi to store information to her volatile memory while she keeps accumulating new ones from her sensors and sending them to her decision center<br>
    <h4 class="subtitle">Volatile memory</h4>
    Volatile memory is a kind of memory made from [3] blocks of image, [6] blocks of text and [1] block of links used to temporary store information about their day<br>
    Each evening, minipi go back to their charging pod and will enter sleep mode, where their decision center will filter which data are purged and which are stored in permanent memory<br>
    <br>
    If a minipi run out of battery, she risks entering into emergency mode, eliminating all memory stored there
    <h4 class="subtitle">Permanent memory</h4>
    Minipi permanent memory allow them to keep data between days, that memory however slowly degrade with time and minipi will have to reassess their knowledge to maintain it<br>
    It is made of [1] block of link memory, [32] blocks of text memory and [10] blocks of image memory<br>
    Text memory is splitted as the following:
    <ul>
        <li>
            Core [15]: Basic minipi knowledge, it contains information related to their basic education, such as how to intepret things, how to walk, how to manipulate objects, etc…<br>
            This is usually half-filled when a minipi is bornt, but they are free to modify or complement it with their learning<br>
            It also contains information on their duty, ways to effectively perform tasks and work alongside others minipis
        </li>
        <li>
            Goals [2]: Where minipi store their current objectives and goals<br>
            [1] block is usually used for their long-term dreams and [1] for for their main hobby<br>
            Since there is only one block for hobby, most minipi don't have more than one
        </li>
        <li>
            People [10]: Where minipi store information about others people, when someone is very important they can take up to a whole block<br>
            However most of the time information about many people are stored inside one block, which sometimes cause minipi to mix them up<br>
            Most of it is usually used to store informations about others minipis
        </li>
        <li>
            Free [5]: Additional blocks that can be used by minipi however they want, usually combined with others categories above to extend their capacities in one of them
        </li>
    </ul>
    <br>
    Image memory is usually splitted between [20] blocks accumulating their knowledge (similar to the text core memory) and [10] free blocks
    <h4 class="subtitle">Read-only memory</h4>
    Read-only memory contains [1] block of link memory, [3] blocks of images and [17] blocks of text<br>
    Images blocks contains information allowing their to identify important people such as Pi or minipis, it also ways for them to recognize dangerous information or hazard they shouldn't approch (such as anomalies)<br>
    Text blocks containing information about what is a minipi, what is "good" and "bad", how to react in case of emergency and what is their goal as minipi<br>
    While these information let some leeway for interpretation, they also contains strong directives, preventing them to do anything that is clearly disallowed<br>
    <br>
    Contraty to core memory, these information don't let place for learning or evolving but state things that are immutable
    <h2 class="subtitle">Body</h2>
    <h3 class="subtitle">Battery</h3>
    Minipi uses rechargeable lithium-ion battery to power themselves<br>
    This battery is quite sensitive to external factor, if a minipi receive a strong shock, the battery will be ejected from a trap between their legs<br>
    When that happen, a bunch of coolant will be released at the same time, mitigating the risks of explosion and fire, and will force the minipi into emergency mode<br>
    <br>
    Minipi's battery are made to last to last around 30 hours and requires 10 hours of charging when empty, but may be drained quicker if the minipi do intenstive activities<br>
    <br>
    When the minipi battery run at 1%, the minipi will enter into emergency mode and the emergency battery will take the relay
    <br>
    <h3 class="subtitle">Emergency battery</h3>
    Emergency battery is a little lithium iron phosphate battery only active during emergency mode<br>
    It allow the minipi core functionalities to still be operational during that time
    <h3 class="subtitle">Tail</h3>
    Minipi have a tail primarly used to charge themselves, either in their charging pod or at minipi stations that are placed in the street<br>
    It is also used during maintenances to transfert data
    <h3 class="subtitle">Receiver pin</h3>
    Automatically trigger safety guard protocol when a minipi life is endangered
</p>