{% extends 'base.html.twig' %}

{% block content %}
<div class="modal" id="modal-minipi">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="modal-minipi-title"></p>
            <button class="delete" aria-label="close" id="modal-minipi-close"></button>
        </header>
        <section class="modal-card-body">
            <h3 class="subtitle">Likes</h3>
            <div id="modal-minipi-likes"></div>
            <h3 class="subtitle">Behaviors</h3>
            <div id="modal-minipi-behaviors"></div>
        </section>
    </div>
</div>
<div class="modal" id="modal-specials">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="modal-specials-title"></p>
            <button class="delete" aria-label="close" id="modal-specials-close"></button>
        </header>
        <section class="modal-card-body" id="modal-specials-body">
            This minipi exists
        </section>
    </div>
</div>
<div class="container">
    <section class="hero is-info">
        <div class="hero-body">
        <p class="title">Minipis</p>
        <p class="subtitle">
            A minipi is a small robot-shaped being tasked with helping people with their task and duties<br>
            While there are a lot of them, they each have their own hobbies, dreams and quirks<br>
            Scroll down to learn all about them :)
        </p>
        </div>
    </section>
    <div class="article">
        {% include 'minipis.html.twig' %}
    </div>
    <div class="article">
        {% include 'specials.html.twig' %}
    </div>
    <div class="article">
        {% include 'backstory.html.twig' %}
    </div>
    <div class="article">
        {% include 'glossary.html.twig' %}
    </div>
    <div class="article">
        {% include 'language.html.twig' %}
    </div>
    <div class="article">
        {% include 'services.html.twig' %}
    </div>
    <div class="article">
        {% include 'specifications.html.twig' %}
    </div>
    <div id="gallery">
        {% include 'gallery.html.twig' %}
    </div>
</div>
{% endblock %}